<table>
	<tr>
		<th>Tajuk</th>
		<th>Tempat</th>
		<th>Penceramah</th>
		<th>Had Peserta</th>
		<th>Tindakan</th>
	</tr>
	{% for a in aktiviti %}
	<tr>
		<td>{{ a.tajuk }}</td>
		<td>{{ a.tempat }}</td>
		<td>{{ a.penceramah }}</td>
		<td>{{ a.hadpeserta }}</td>
		<td><a href="{% url 'edit_aktiviti' a.pk %}">Edit</a> | <a href="{% url 'delete_aktiviti' a.pk %}">Hapus</a></td>
	</tr>
	{% endfor %}
</table>

<p>
	<a href="{%url 'add_aktiviti' %}">Tambah Aktiviti</a>
</p>

<!-- {% for a in aktiviti %}
<p>{{ a.tajuk }} {{ a.tempat }} {{ a.penceramah }} {{ a.hadpeserta }}</p>
{% endfor %} -->